/* HEADER / NAV BAR STYLES START */
header {
    padding: 20px 35px;
    background-color: #024e76;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #024e76;
    margin: 0;
    border-style: solid;
    border-color: skyblue;
    background-color: skyblue;
}

header a {
    text-decoration: none;
    color:skyblue;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
  }

header nav ul li a:hover {
    background: grey;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}
/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer ul li a {
    text-decoration: underline;
    justify-content: space-between;
}

footer h3 {
    text-align: right;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
  }

footer nav ul li a:hover {
    background: grey;
    color: #024e76;
    border-radius: 12px;
    text-shadow: none;
}

footer nav {
    margin: 7px 0;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
/* END FOOTER STYLES */

h1 {
    font-display: skyblue;
}

h2 {
    color: #024e76;
    text-align: left;
    font-size: 24px;
}

p {
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
}

body {
    background-color: aquamarine;
}
/* PLACEHOLDER START */
.background-img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
}
.pic {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.images {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.gif {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 35%;
}


/* PLACEHOLDER END */

/* START MEDIA QUERIES */
@media screen and (max-width: 575px) {
    .images {
        display: block;
        align-items: center;
    }

    .gif {
       height: 400px;
       width: 400px;
    }
}
/* END MEDIA QUERIES */